[submodule "reveal.js"]
	path = 2013/04/extreme_programing/reveal.js
	url = https://github.com/psychomantys/reveal.js.git

[submodule "2013/05/checksum/reveal.js"]
	path = 2013/05/checksum/reveal.js
	url = https://github.com/psychomantys/reveal.js.git
[submodule "2013/06/clp_html5/reveal.js"]
	path = 2013/06/clp_html5/reveal.js
	url = https://github.com/psychomantys/reveal.js.git
[submodule "2013/07/redes2_newsky/reveal.js"]
	path = 2013/07/redes2_newsky/reveal.js
	url = https://github.com/psychomantys/reveal.js.git
[submodule "2013/11/cloud_vs_grid/reveal.js"]
	path = 2013/11/cloud_vs_grid/reveal.js
	url = https://github.com/psychomantys/reveal.js.git
